input[type="text"],[type="number"]{
    border: 1px solid;
}

.btn {
    border: 1px solid;
}

.validation-text{
    color: red;
}

.v-enter-active, .v-leave-active {
    transition: opacity 1s
}

.v-enter, .v-leave-to{
    opacity: 0;
}